.AboutUs {
    padding: 40px 0;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 85vh;
}
.AboutUs h2 {
    color: #fff;
}

.AboutUs p {
    color: #ffffff;
}
