.MainNav ul {
    display: flex !important;
}
.MainNav ul li {
    margin-right: 15px;
}
.MainNav ul li:last-child {
    margin-right: 0;
}
.MainNav ul li a {
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    padding: 0 5px;
    display: inline-block;
}
.MainNav ul li a:hover {
    opacity: 0.65;
}
.Active {
    text-decoration: underline !important;
    color: grey !important;
}
