.FilmCard {
    width: 32%;
    border-radius: 5px;
    overflow: hidden;
    box-shadow: 0 0 8px 0 rgba(0,0,0,0.55);
}
.FilmCardImg {
    height: 300px;
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
}
