.Header .Container {
    display: flex;
    justify-content: space-between;
    padding: 0 20px;
}
.Header {
    background: #000;
}
.HeaderLogo {
    height: 50px;
    width: 100px;
    -webkit-background-size: contain;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center center;
    position: relative;
}
.HeaderLogo a {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
}
